<footer class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-xs-12 footer-links">
       <h2>Quick Links</h2>
        <ul>
         <li><a href="">Home</a> </li>
         <li><a href="">About Us</a> </li>
         <li><a href="">About our team  </a> </li>
         <li><a href="">Information Resources</a></li>
         <li><a href="research.php">Research</a></li>
         <li><a href=""> Access</a></li>
         <li><a href="news.php">News</a></li>
         <li><a href="contactus.php">Contact Us</a></li>
       </ul>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 footer-links">
       <h2>About Team</h2>
       <ul>
           <li><a href="about_auism.php?tab=1">Facts And Figures</a></li>
             <li><a href="about_auism.php?tab=2">Core Features </a></li>
             <li><a href="about_auism.php?tab=3">Diagnosis</a></li>
             <li><a href="about_auism.php?tab=4">Causes</a></li>
             <li><a href="blog.php">Blog</a></li>
             <li><a href="about_auism.php?tab=5">Intervention</a></li>
             <li><a href="about_auism.php?tab=6">Living With us</a></li>
       
       </ul>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 col-lg-offset-1 footer-form">
       <h2>Contact Us</h2>

       <form class="form" style="margin-top:18px;">
        <div class="form-group">
         <input type="text" class="form-control" placeholder="Name" />
        </div>
          <div class="form-group">
         <input type="text" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Enquiry" ></textarea>
        </div>
        <button type="button" class="btn btn-info btn-block">SUBMIT</button>
       </form>
      </div>
    </div>
  </div>
 </footer>
 <footer class="footer-bottom">
   <div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12 footer-bottomlink">
      <ul>
        <li>Registered Charity Number: 1112897  </li>
        <li><a href="javascript:void(0);">Privacy & Cookies </a></li>
        <li><a href="javascript:void(0);">Terms & Conditions</a></li>
     </ul>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12 footer-social">
      <!-- <a href="javascript:void(0);"><img src="images/logogray-iconnect.png"></a>-->
      <ul class="list-inline">
      <li><a href="javascript:void(0);"><img src="images/connect-logo.png"  alt=" logo"  /></a> </li>
       <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
        <li class="pad-r-72"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a> </li>
       </ul>
    </div>
   </div>
  </div>
 </footer>
 
