<main class="sizing">
  <input type="text" name="firstname1" [(ngModel)]="firstname1" test (ngModelChange)="test($event)">
  {{firstname1}}
  
  <input type="text" name="firstname2" [value]="firstname2" (input)="firstname2=$event.target.value.toUpperCase()">
   {{firstname2}}

  <app-child [datafromparent]= "firstname" [datafromparent2]="userDetail">
    
    <div class="div1"> div 1 content</div><div class="div2">div 2 content</div>
  </app-child>
  <input type="button" value="changeName" (click)="changename()">
  {{message}}  
  <input type="button" value="Count Number" (click)="countNumber()">
  {{count}}
  <div class="banner">
   <div class="container" >
    <div class="row">
      <div class="col-lg-7 col-sm-8 col-xs-12">
       <h1 id="headingone" class="sujit" [ngClass]="{sujit1:true}">This is a home page 1.</h1>
       <h1 id="headingone">This is a home page 2.</h1>
       <p>Multiplier: {{2 | multiplier:10:20}}

        {{exampleAsync | async}}
       </p>
     
        <div class="search-large">
          <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Search">
            <span class="input-group-btn">
            <button class="btn btn-warning btn-lg" type="button"><img src="images/search-glass.png" /></button>
        </span>
      </div><!-- /input-group -->
          </div>
       
      </div>
      <div class="col-lg-5 col-sm-4 col-xs-12 banner_main">
      <img src="images/kids.png" class="img-responsive" />
      </div>
    </div>
   </div>
  </div>
  
  <div class="punchline sizing">
   <div class="container">
    <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      
     </div>
    </div>
   </div>
  </div>
  
  <div class="information sizing">
   <div class="container">
    <div class="row">
   
  <div class="col-lg-12 col-sm-12 col-xs-12 information-main">
     <div class="col-lg-3 col-sm-3 col-xs-12 information-box">
      <div class="thumbnail">
       <a href="aboutthealliance.php"> <img src="images/img-1.jpg" alt="image"></a>
        <div class="caption">
          <h3><a href="aboutthealliance.php">About Us</a></h3>
          <ul>
           <li><a href="javascript:void(0);">Our members </a></li>
           <li><a href="javascript:void(0);">Careers</a></li>
          </ul>
           <a class="know-more" href="javascript:void(0);"> Read More</a>
        </div>
       </div>
      </div>
     <div class="col-lg-3 col-sm-3 col-xs-12  information-box">
      <div class="thumbnail">
       <a href="information-resources.php"> <img src="images/img-2.jpg" alt="image"></a>
        <div class="caption">
          <h3><a href="information-resources.php"> Information Resources</a></h3>
          <ul>
           <li><a href="javascript:void(0);">Specialised care </a></li>
           <li><a href="javascript:void(0);">Policy information</a></li>
          </ul>
           <a class="know-more" href="javascript:void(0);"> Read More</a>
        </div>
       </div>
      </div>
     <div class="col-lg-3 col-sm-3 col-xs-12  information-box">
       <div class="thumbnail">
        <a href=""> <img src="images/img-3.jpg" alt="image"></a>
         <div class="caption">
          <h3><a href="research.php">Research</a></h3>
           <ul>
            <li><a href="javascript:void(0);">Genetics </a></li>
            <li><a href="javascript:void(0);">Causes</a></li>
          </ul>
          <a class="know-more" href="javascript:void(0);"> Read More</a>
        </div>
       </div>
      </div>
     <div class="col-lg-3 col-sm-3 col-xs-12  information-box">
      <div class="thumbnail">
        <a href=""><img src="images/img-4.jpg" alt="image"></a>
        <div class="caption">
          <h3><a href="">Connect to us</a></h3>
          <ul>
           <li><a href="javascript:void(0);">Champions Network</a></li>
           <li><a href="javascript:void(0);">National Chains</a></li>
          </ul>
           <a class="know-more" href="javascript:void(0);"> Read More</a>
        </div>
       </div>
      </div>
      </div>
   
  
  
    </div>
   </div>
  </div>
  
  <div class="container sizing">
    <div class="row">
        <div class="col-md-3 col-sm-3 info-box">
          <div class="info-heading">
              <h3>TWITTER</h3> 
              <h4> FEED  <i class="fa fa-twitter"></i></h4>
            </div>
              <!-- Carousel================================================== -->
              <div id="myCarousel" class="carousel slide">
                  <div class="carousel-inner">           
                     <figure class="item active">
                         <div class="tweet">
                           <p>Have a look at this #book written by @pounder80, a parent of a boy with severe </p>
                      
                         </div>
                         <div class="tweet">
                           <p>Have a look at this #book written by @pounder80, a parent of a boy with severe  </p>
                        
                         </div>
                         <div class="tweet">
                           <p>Have a look at this #book written by @pounder80, a parent of a boy with severe  </p>
                         
                         </div>
                      </figure>
                      <figure class="item">
                          <div class="tweet">
                            <p>Have a look at this #book written by @pounder80, a parent of a boy with severe  </p>
                          
                          </div>      
                          <div class="tweet">
                            <p>Have a look at this #book written by @pounder80, a parent of a boy with severe </p>
                        
                          </div> 
                          <div class="tweet">
                           <p>Have a look at this #book written by @pounder80, a parent of a boy with severe </p>
                       
                          </div>   
                      </figure>  
                      <figure class="item">
                           <div class="tweet">
                            <p>Have a look at this #book written by @pounder80, a parent of a boy with severe  </p>
                        
                          </div> 
                          <div class="tweet">
                           <p>Have a look at this #book written by @pounder80, a parent of a boy with severe </p>
                        
                          </div> 
                          <div class="tweet">
                           <p>Have a look at this #book written by @pounder80, a parent of a boy with severe </p>
                   
                          </div> 
                      </figure>                                                                                   
                  </div>              
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev"> <span><i class="fa fa-angle-left"></i> </span></a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next"> <span><i class="fa fa-angle-right"></i> </span></a>                                   
              </div><!-- End Carousel -->  
        </div>
           <div class="col-md-6 col-sm-6 info-box latest-news">
            <div class="info-heading">
            <h3> LATEST</h3>
               <h4> NEWS <i><img src="images/news_icon.png" /></i> </h4>
               </div>
              <!-- Carousel================================================== -->
              <div id="newsCarousel" class="carousel slide">
                  <div class="carousel-inner">           
                      <figure class="item active">
                        <div class="news-top">
                     
                          <span class="news-date">13th July 2014 </span>
                         </div>
                        
                         <div class="news">
                          <img src="images/news.png" />

                          </div>
                      </figure>
                      <figure class="item">
                        <div class="news-top">
                        
                          <span class="news-date">13th July 2014 </span>
                        </div>

                        <div class="news">
                          <img src="images/news.png" /><p>Looking for a challenge for 2014? Then running the British 10k for  Anglia could be just the thing.</p>
              <p>If you're interested in taking part in this sought after event  Anglia would like to hear from you. We have 6 spaces available which will guarantee your place at the start line.</p>
                          <p>The race takes place on Sunday 13th July and follows the now iconic route round the streets of London to pass sights such as Big Ben, The London Eye, St Paul's Cathedral, Trafalgar Square and Westminster Abbey.</p>
                          </div>                               
                       </figure>  
                      <figure class="item">
                        <div class="news-top">

                          <span class="news-date">13th July 2014 </span>
                        </div>
                        <h2> Anglia British 10k</h2>
                        <div class="news">
                          <img src="images/news.png" /><p>Looking for a challenge for 2014? Then running the British 10k for  Anglia could be just the thing.</p>
              <p>If you're interested in taking part in this sought after event  Anglia would like to hear from you. We have 6 spaces available which will guarantee your place at the start line.</p>
                          <p>The race takes place on Sunday 13th July and follows the now iconic route round the streets of London to pass sights such as Big Ben, The London Eye, St Paul's Cathedral, Trafalgar Square and Westminster Abbey.</p>
                        </div>
                      </figure>                                                                                   
                  </div>              
                  <a class="carousel-control left" href="#newsCarousel" data-slide="prev"><span><i class="fa fa-angle-left"></i></span></a>
                  <a class="carousel-control right" href="#newsCarousel" data-slide="next"><span><i class="fa fa-angle-right"></i></span></a>                                   
              </div><!-- End Carousel -->  
            </div>
            <div class="col-md-3 col-sm-3 info-box">
             <div class="info-heading">
              <h3>Hot   </h3>
              <h4> TOPIC <img src="images/active-hot-topic.png" width="27"> </h4>
             </div>
             
              <div id="storyCarousel" class="carousel slide">
                  <div class="carousel-inner">           
                      <figure class="item active">
                         <div class="your-story">
                          <img src="images/story.png" class="img-responsive" alt="story"> 
                          <h3>Gartinny Conservation Project Shortlisted in  Professional Awards</h3>
                          <p>The Gartinny Conservation Project is up for the award of 'Most Creative Community Project', which was last year won by our Fife Services for their production of The Tree and The Abbey.   <p>
                          
                          <a href="research.php?tab=6">Read More</a>
                          
                         </div>
                      </figure>   
                      <figure class="item">
                         <div class="your-story">
                          <img src="images/story.png" class="img-responsive" alt="story"> 
                          <h3>Gartinny Conservation Project Shortlisted in  Professional Awards</h3>
                          <p>The Gartinny Conservation Project is up for the award of 'Most Creative Community Project', which was last year won by our Fife Services for their production of The Tree and The Abbey.   <p>
                          
                          <a href="research.php?tab=6">Read More</a>
                          
                         </div>
                      </figure>
                      <figure class="item">
                         <div class="your-story">
                          <img src="images/story.png" class="img-responsive" alt="story"> 
                          <h3>Gartinny Conservation Project Shortlisted in  Professional Awards</h3>
                          <p>The Gartinny Conservation Project is up for the award of 'Most Creative Community Project', which was last year won by our Fife Services for their production of The Tree and The Abbey.   <p>
                          
                          <a href="research.php?tab=6">Read More</a>
                          
                         </div>
                      </figure>
                      <figure class="item">
                         <div class="your-story">
                          <img src="images/story.png" class="img-responsive" alt="story"> 
                          <h3>Gartinny Conservation Project Shortlisted in  Professional Awards</h3>
                          <p>The Gartinny Conservation Project is up for the award of 'Most Creative Community Project', which was last year won by our Fife Services for their production of The Tree and The Abbey.   <p>
                          
                          <a href="research.php?tab=6">Read More</a>
                          
                         </div>
                      </figure>                                                                      
                  </div>              
                  <a class="carousel-control left" href="#storyCarousel" data-slide="prev"> <span><i class="fa fa-angle-left"></i> </span></a>
                  <a class="carousel-control right" href="#storyCarousel" data-slide="next"> <span><i class="fa fa-angle-right"></i> </span></a>                              
              </div>  
          </div>
         </div>
       </div>
  
  <div class="home-bottom sizing">
    <div class="container">
     <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-12 story-left">
        <img src="images/boy.png" class="img-responsive" />
       </div>
       <div class="col-lg-6 col-sm-6 col-xs-12 share-story">
         <h2> CONNECT TO US</h2>
         <h3>Building  friendly communities locally and nationwide for people with .</h3>
       </div>
       <div class="col-lg-2 col-sm-2 col-xs-12 story-right">

      </div>
     </div>
    </div>
   </div>
   
  </main>
  
  
  <!--======//End of container//======-->
  